html{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

body{
    display: block;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    height: inherit;
    width: inherit;
    overflow-x: hidden; 
    background-color: $lts-white;
    box-sizing: border-box;
    
}

#__next, #contentContainer{
    display: block;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    height: inherit;
    width: inherit;
    overflow-x: hidden; 
    box-sizing: border-box;
}

header{
    flex: 1 1 clamp(50px,5vh,300px);
  }
  
  main{
   flex: 1 1 clamp(600px,90vh,100vh);
  }
  
  footer{
      flex: 1 1 clamp(100px,5vh,300px);
    
  }