@import"../base/_vars.css";

.advSearch{
    width: clamp(320px, 50%, 1200px);
    max-height: 400px;
    transform: translateY(-50%);

& div select, & button{
    background-color: white;
    color: black;
    border: 2px solid black;
    font-family: $main-font;
    font-weight: 900;
}

}